<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd" >
  
  <mapper namespace="memberMapper">
  	<resultMap type="qr" id="qrResultSet">
  		<result column="ID" property="id"/>
  		<result column="PWD" property="pwd"/>
  		<result column="COUNT" property="count"/>
  	</resultMap>
  
  	<select id="loginUser" resultMap="qrResultSet">
  		select * from member where id = #{id} and pwd = #{pwd}
  	</select>
  	
  	<update id="resultAt">
  		update 
  			member
		set
		 count = count + 1
		where id = #{id}
  	</update>
  </mapper>